.back-link {
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: beige;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}