 body {
     margin: 0;
     padding: 0;
     height: 100vh;

 }

 .gallery-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;

 }

 .gallery {
     width: 1128px;
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     gap: 16px;
     padding: 0;
     margin: 0;
 }

 .gallery-item {
     flex-basis: calc((100% - 64px) / 3);
 }

 .gallery-link {
     display: block;
     text-decoration: none;
     color: inherit;
 }

 .gallery-image {
     width: 100%;
     height: auto;
     display: block;
 }